In [3]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
df = pd.DataFrame(randn(4,3),["A","B","C","D"],["Column1","Column2","Column3"])

In [7]:
df

    Column1   Column2   Column3
A  0.600599  0.078767 -0.506500
B -1.124687 -0.209460  1.121663
C -0.035351 -1.842597  0.209953
D -0.249200  0.598797  1.565949

In [8]:
df>-1

   Column1  Column2  Column3
A     True     True     True
B    False     True     True
C     True    False     True
D     True     True     True

In [9]:
df[df>-1]

    Column1   Column2   Column3
A  0.600599  0.078767 -0.506500
B       NaN -0.209460  1.121663
C -0.035351       NaN  0.209953
D -0.249200  0.598797  1.565949

In [11]:
df.set_index("Column3")

            Column1   Column2
Column3
-0.506500  0.600599  0.078767
 1.121663 -1.124687 -0.209460
 0.209953 -0.035351 -1.842597
 1.565949 -0.249200  0.598797