In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [10]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [11]:
innerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [12]:
list(zip(outerIndex, innerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [17]:
hierarchy = list(zip(outerIndex, innerIndex))

In [18]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [19]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [20]:
df = pd.DataFrame(randn(9,3),hierarchy, columns = ["Column1","Column2","Column3"])

In [21]:
df

                Column1   Column2   Column3
Group1 Index1  1.712561 -0.802832 -1.278073
       Index2  0.157845  0.303561 -0.542297
       Index3 -1.183715 -2.289133  1.671503
Group2 Index1 -0.397990 -0.900426  0.686852
       Index2  0.389449 -0.531682 -0.497294
       Index3 -0.221354 -1.558980 -1.041037
Group3 Index1 -0.166423 -0.206215 -1.268823
       Index2  1.073261  0.382249  2.077991
       Index3  0.757268  0.740509  0.819494

In [25]:
df["Column1"]

Group1  Index1    1.712561
        Index2    0.157845
        Index3   -1.183715
Group2  Index1   -0.397990
        Index2    0.389449
        Index3   -0.221354
Group3  Index1   -0.166423
        Index2    1.073261
        Index3    0.757268
Name: Column1, dtype: float64

In [37]:
df.loc["Group1","Index1"]["Column1"]

1.7125605659762575