In [1]:
import numpy as np
import pandas as pd

In [2]:
label_list = ["a","b","c","d","e"]
data_list = [10,20,30,40,50]

In [3]:
pd.Series(data_list,label_list)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
pd.Series(data_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
pd.Series(label_list)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [10]:
ser2017 = pd.Series([5,10,14,20],["Bugday","Misir","Kiraz","Erik"])

In [11]:
ser2017

Bugday     5
Misir     10
Kiraz     14
Erik      20
dtype: int64

In [12]:
ser2018 = pd.Series([2,12,12,6],["Bugday","Misir","Cilek","Erik"])

In [13]:
ser2018

Bugday     2
Misir     12
Cilek     12
Erik       6
dtype: int64

In [15]:
total = ser2017 + ser2018

In [16]:
total["Erik"]

26.0