In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [4]:
randn(3,3)

array([[-0.8952145 ,  0.13450638, -0.15303739],
       [-0.05046341,  1.23535033,  0.48802662],
       [ 1.25351936,  1.09790758, -1.60589557]])

In [8]:
df = pd.DataFrame(data = randn(3,3),index = ["A","B","C"], columns = ["Column1", "Column2", "Column3"])

In [9]:
df

    Column1   Column2   Column3
A  0.280359 -0.270860  1.192857
B -0.777268  0.575751 -1.638348
C  2.009144  0.157495  1.918763

In [15]:
df["Column1"]

A    0.280359
B   -0.777268
C    2.009144
Name: Column1, dtype: float64

In [16]:
df.loc["A"]

Column1    0.280359
Column2   -0.270860
Column3    1.192857
Name: A, dtype: float64

In [19]:
df[["Column1","Column3","Column2"]]

    Column1   Column3   Column2
A  0.280359  1.192857 -0.270860
B -0.777268 -1.638348  0.575751
C  2.009144  1.918763  0.157495

In [21]:
df["Column4"] = pd.Series(randn(3),["A","B","C"])

In [22]:
df

    Column1   Column2   Column3   Column4
A  0.280359 -0.270860  1.192857 -0.767199
B -0.777268  0.575751 -1.638348 -1.655095
C  2.009144  0.157495  1.918763  0.123408

In [30]:
df.drop("Column3",axis =1,inplace = True)

In [31]:
df

    Column1   Column2   Column4
A  0.280359 -0.270860 -0.767199
B -0.777268  0.575751 -1.655095
C  2.009144  0.157495  0.123408

In [32]:
df.iloc[0]

Column1    0.280359
Column2   -0.270860
Column4   -0.767199
Name: A, dtype: float64

In [33]:
df.loc[["A","B"],["Column1","Column2"]]

    Column1   Column2
A  0.280359 -0.270860
B -0.777268  0.575751